# Tipos de datos en estadística inferencial 

Aquí tenemos en cuenta los diferentes tipos de datos o variables estructuradas en cualquier problema de ciencia de datos.

* datos categóricos: ordinales y nominales
* datos numéricos: discretos y continuos

a continuación exploraremos un dataset que contiene todos estos tipos de datos: https://www.kaggle.com/lepchenkov/usedcarscatalog

In [8]:
import pandas as pd

df = pd.read_csv('cars.csv')

df.head().style.background_gradient(cmap = 'coolwarm', axis=None)

los tipos de datos de cada columna en el dataset se pueden obtener directamente con `pandas.DataFrame.dtypes` 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [9]:
df.dtypes

manufacturer_name     object
model_name            object
transmission          object
color                 object
odometer_value         int64
year_produced          int64
engine_fuel           object
engine_has_gas          bool
engine_type           object
engine_capacity      float64
body_type             object
has_warranty            bool
state                 object
drivetrain            object
price_usd            float64
is_exchangeable         bool
location_region       object
number_of_photos       int64
up_counter             int64
feature_0               bool
feature_1               bool
feature_2               bool
feature_3               bool
feature_4               bool
feature_5               bool
feature_6               bool
feature_7               bool
feature_8               bool
feature_9               bool
duration_listed        int64
dtype: object

Aquí vemos que los tipos de datos se identifican de la siguiente manera: 

* Categoricos: `object`, `bool`
* Numéricos: `int64` (discreto), `float64` (contínuo)

Ahora, con la libreria pandas podemos generar un conjunto completo de estadisticos descriptivos del dataset usando `pandas.DataFrame.describe()`

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html

In [10]:
df.describe().style.background_gradient(cmap = 'coolwarm', axis=None)